    <table class="table text-white">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Priority</th>
                <th scope="col">Status</th>
                <th scope="col">Created by</th>
                <th scope="col">Created at</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <th scope="row">{{ ticket.id }}</th>
                <td>{{ ticket.subject|slice:":50" }}</td>
                <td>{{ ticket.get_priority_display }}</td>
                <td>{{ ticket.get_status_display }}</td>
                <td>{{ ticket.user }}</td>
                <td>{{ ticket.created_at }}</td>
                <td>
                    <a href="{% url 'detail_ticket' pk=ticket.pk %}" class="btn btn-primary">View</a>
                    {% if user.is_superuser %}
                        {% if ticket.status == 'In progress' or ticket.status == 'Restored' %}
                        <span class="btn">    
                        <form action="{% url 'ticket_resolve' pk=ticket.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Resolve</button>
                        </form>
                        </span>
                            <a href="{% url 'ticket_reject' pk=ticket.pk %}" class="btn btn-danger">Reject</a>
                        {% endif %}
                    {% endif %}
                    <span class="btn">
                        {% if not user.is_superuser and ticket.status == 'Rejected' %}
                            <form action="{% url 'ticket_restore' pk=ticket.pk %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-warning">Restore</button>
                            </form>
                        {% endif %}
                    </span>
                </td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No tickets found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 