{% extends 'base_templates/base.html' %}

{% block title %}Log in{% endblock title %}

{% block content %}
<h1>Ticket id: {{ ticket.pk }}</h1>
  <ul>
      <li>{{ ticket.user }}</li>
      <li>{{ ticket.priority }}</li>
      <li>{{ ticket.status }}</li>
      <li>{{ ticket.subject }}</li>
      <li>{{ ticket.description }}</li>

        <form action="{% url 'update_ticket' pk=ticket.pk %}">
          <button type="submit" class="btn btn-primary btn-sm">Update Ticket</button>
        </form>

  </ul>
{% endblock content %}