{% extends 'base_templates/base.html' %}

{% block title %}Log in{% endblock title %}

{% block content %}

<div class="container mb-5 pb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card bg-secondary">
        <div class="card-header">
          <h1 class="text-center">Reject Ticket: {{ ticket.pk }}</h1>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-secondary text-light">User: {{ ticket.user }}</li>
            <li class="list-group-item bg-secondary text-light">Priority: {{ ticket.priority }}</li>
            <li class="list-group-item bg-secondary text-light">Status: {{ ticket.status }}</li>
            <li class="list-group-item bg-secondary text-light">Subject: {{ ticket.subject }}</li>
            {% for com in ticket.get_comments %}
              <li class="list-group-item bg-dark text-light form-control"><h4>
                {% if user == com.author %}
                You
                {% else %}
                {{ com.author }}
                {% endif %}
                :</h4> {{ com.text }}</li>
              {% endfor %}

            <form method="POST">
              {% csrf_token %}
              <div class="form-group mt-3">
                <label for="comment-text">Коментар для відхилення:</label>
                {{ form.text }}
              </div>
              <button type="submit" class="btn btn-danger mt-3">Reject Ticket</button>
            </form>


          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <h1>{{ ticket.subject }}</h1>
<p><strong>Created by:</strong> {{ ticket.user }}</p>
<p><strong>Priority:</strong> {{ ticket.priority }}</p>
<p><strong>Status:</strong> {{ ticket.status }}</p>

<h2>Reject Ticket Comment</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}

  <button type="submit">Reject Ticket</button>
</form> {% endcomment %}

{% endblock content %}